<h1>Welcome to VegaTech Blogging Site!</h1>

<hr />
<p>This is the welcome page,the application is in development stages...<br />
so please check back often.</p>

<%= link_to "Blogging Site", posts_path %>
